$primary-color: #f52b2b;
$secundary-color: #ffffff;
$font-color: #282d3b;
$badge-color-bestseller: #55a0e6;
$badge-color-new: #88e464;
$badge-color-offer: #f3d113;
$background-color: #726a6a;
$icon: #ffd700;
$stock-in-stock: #008000;
$stock-out-of-stock: #ff0505;
$product-title: #000000;
$product-text: #575757;
